@import '../shared';

@mixin hexagon($width: 80px){
  // sqrt(3) / 2 = 0.866
  $height: $width * 0.866;

  height: $height;
  width: $width;
  position: relative;
  margin: 0 auto;
  transform-origin: 0 0;
  transform: translateX($width/2) rotate(30deg);

  .triangle{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $height/2 $width/4 0;
    transform-origin: $width/4 $height/2 + 3;
    border-color: $color transparent;

    $deg: 60deg;
    @for $i from 1 through 5{
      &:nth-child(#{$i}){
        transform: rotate(#{$deg});
      }
      $deg: $deg + 60;
    }

    &:nth-child(5), &:nth-child(6){
      border-color: lighten($color,25%) transparent;
    }
    &:nth-child(2), &:nth-child(3){
      border-color: darken($color,20%) transparent;
    }
  }
}



/**
 *
 * hexKeyFrames mixin
 *
 */
@mixin hexKeyFrames($name, $degree) {
  @keyframes #{$name} {
    @content;
  }
}

$hex-degree: 0deg;
@for $idx from 1 through 6 {
  $hex-degree: $hex-degree + 60;

  @include hexKeyFrames(hexTranslate#{$idx}, $hex-degree) {
    0% { transform: rotateZ(0deg) rotate($hex-degree); }
    54.55%, 100% { transform: rotateZ(360deg) rotate($hex-degree); }
  }

  @include hexKeyFrames(hexFlip#{$idx}, $hex-degree) {
    0% { transform: rotate($hex-degree) rotate3d( 0.5, 0.866, 0, 90deg); opacity: 0; }
    0.1% { transform: rotate($hex-degree) rotate3d( 0.5, 0.866, 0, 90deg); opacity: 1; }
    14% { transform: rotate($hex-degree) rotate3d( 0.5, 0.866, 0, 0deg); }
    50% { transform: rotate($hex-degree) rotate3d(-0.5, 0.866, 0, 0deg); }
    63.99% { transform: rotate($hex-degree) rotate3d(-0.5, 0.866, 0, -90deg); opacity: 1; }
    64%, 100% { transform: rotate($hex-degree) rotate3d(-0.5, 0.866, 0, -90deg); opacity: 0 }
  }
}



/**
 *
 * hexAnimate mixin
 *
 */
@mixin hexAnimate($style, $delay-order) {
  @for $i from 1 through 6 {
    .triangle:nth-child(#{$i}) {
      @include animate($style, 0.8s, infinite, #{nth($delay-order, $i)}, ease-in-out);
    }
  }
}

.hexagon-container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}



/**
 *
 * Fade Hex
 *
 */

$order: (0s, -0.5s, -0.4s, -0.3s, -0.2s, -0.1s);
.fade-hex {
  @include hexagon();
  @include hexAnimate(hexFade, $order);
}



/**
 *
 * Rotate Hex
 *
 */

$order2: (0s, 0.2s, 0.4s, 0.6s, 0.8s, 1s);
.rotate-hex {
  @include hexagon();

  @for $i from 1 through 6 {
    .triangle:nth-child(#{$i}) {
      @include animate(hexTranslate#{$i}, 2.2s, infinite, #{nth($order2, $i)}, linear);
    }
  }
}



/**
 *
 * Fold Hex
 *
 */
$order3: (0s, -1.5s, -1.2s, -0.9s, -0.6s, -0.3s);
.fold-hex {
  @include hexagon();

  @for $i from 1 through 6 {
    .triangle:nth-child(#{$i}){
      @include animate(hexFlip#{$i}, 1.8s, infinite, #{nth($order3, $i)}, linear);
    }
  }
}

@keyframes hexFade {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes flip {
  0% { transform: rotate3d( 0.5, 0.866, 0, 90deg); opacity: 0; }
  0.1% { transform: rotate3d( 0.5, 0.866, 0, 90deg); opacity: 1; }
  14% { transform: rotate3d( 0.5, 0.866, 0, 0deg); }
  50% { transform: rotate3d(-0.5, 0.866, 0, 0deg); }
  63.99% { transform: rotate3d(-0.5, 0.866, 0, -90deg); opacity: 1; }
  64%, 100% { transform: rotate3d(-0.5, 0.866, 0, -90deg); opacity: 0 }
}
