@import '../shared';

@mixin rectAnimate($style, $delay-order) {

  @for $i from 1 through 5 {
    .rect:nth-last-child(#{$i}) {
      @include animate($style, 1.2s, infinite, #{nth($delay-order, $i)}, ease-in-out);
    }
  }
}

.rects {
  width: 90px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}

.rect {
  height: 100%;
  width: 6px;
  display: inline-block;
  background-color: $color;
  border-radius: 5px;
}

$order: (0s, -1.1s, -1.0s, -0.9s, -0.8s);
.wave-rects {
  @extend .rects;
  @include rectAnimate(rectScale, $order);
}

$order-2: (-0.2s, -0.4s, -0.6s, -0.4s, -0.2s);
.center-out-rects {
  @extend .rects;
  @include rectAnimate(rectScale, $order-2);
}

.fade-rects {
  @extend .rects;

  .rect {
    vertical-align: -75%;
  }

  @include rectAnimate(rectFade, $order);
}

@keyframes rectScale {
  0% { transform: scaley(1); }
  50% { transform: scaley(0.4); }
  100% { transform: scaley(1); }
}

@keyframes rectFade {
  0% { opacity: 1; transform: scaley(0.7); }
  50% { opacity: 0; transform: scaley(0.7); }
  100% { opacity: 1; transform: scaley(0.7); }
}
