.gitignore

# Local server
server.js

# Logs
logs
*.log

# sourcemap files
.css.map

# Runtime data
pids
*.pid
*.seed

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
